@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	margin:0;
	padding:0;
	box-sizing:border box;

}
button {
	padding:8px;
	color:white;
	background-color:lightgreen;
	cursor:pointer;
	font-weight:400;
	margin-left:16px;
	margin-top:5px;
}
.toy p{
	display:inline;
	margin-left:76%;
	font-weight:600;
	font-size:20px;
}
.yoyo img {
	height:100px;
	width:100px;
	border:1px solid black;
	border-radius:50%;
}
.joy {
	border-bottom:1px solid black;
}
.yoyo {
	display:flex;
	padding-top:18px;
}
.yoyo p {
	margin-top:50px;
	font-weight:700;
	margin-left:2%;
}
span{
	padding-left:25%;
}

h3 {
	margin-left:66%;
	display:inline;
}
section{
	font-family: 'Raleway', sans-serif;
    margin-left: 21%;
    margin-top: 5%;
    border: 1px solid;
    margin-right: 19%;
    padding: 4px;
	}